<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>101.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>106.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>109.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>110.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>111.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>112.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>113.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>201.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>202.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>203.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>204.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>205.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>206.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>207.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>208.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>209.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>210.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>211.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>212.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>213.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>301.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>302.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>303.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>304.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>305.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>306.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>307.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>308.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>309.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>310.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>311.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>312.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>313.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>401.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,684},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>402.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,513},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>403.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,342},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>404.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,171},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>405.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,0},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>406.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,722},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>407.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,551},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>408.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,380},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>409.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,209},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>410.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,722},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>411.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,551},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>412.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>413.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,170}}</string>
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{146,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,208}}</string>
				<key>sourceSize</key>
				<string>{146,208}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>